config vdom 
 edit {{vdom_name}} 
end

config global
 config system interface
 edit "INTERNET_{{vdom_name}}"
        set vdom "{{vdom_name}}"
        set ip {{ip_address}} 255.255.255.224
        set allowaccess ping
        set type emac-vlan
        set role wan
        set snmp-index 64
        set interface "INTERNET"
end
config vdom 
 edit {{vdom_name}} 
 config router static
    edit 1
        set gateway 190.190.190.2
        set device "INTERNET_{{vdom_name}}"
end
		

